.benefits {
  background-color: #F6F6F6;
  min-height: 470px;
  padding: 70px 0 64px;
  &__wraper {
    margin-top: 60px;
    display: flex;
    justify-content: space-between;
    text-align: center;
  }
  &__item {
    width: 270px;
  }
  &__title {
    font-weight: 700;
    font-size: 18px;
    margin-top: 35px;
  }
  &__description {
    font-weight: 300;
    font-size: 14px;
    margin-top: 20px;
  }
  &__link {
    font-family: 'MuseoModerno', cursive;
    color: $button-color;
    &:hover {
      color: $button-color;
    }
  }
}