.slider {
	padding: 81px 0;
	&__inner {
		margin: 0 auto;
		max-width: 750px;
	}
  &__img {
    width: 100%;
  }
  .slick-prev, .slick-next {
    padding: 0;
    border: none;
    background-color: #fff;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    img {
      width: 30px;
      height: 50px;
    }
  }
  .slick-prev {
    left: -66px;
  }
  .slick-next {
    right: -66px;
  }
}
